/caso5/build/
/caso5/dist/
/ag_prac/build/
/ag_prac/dist/
/online/build/
/online/dist/
/sa/build/
/sa/dist/
/sa2/build/
/sa2/dist/
/randilo/build/
/randilo/dist/
/randilosearch/build/
/randilosearch/dist/
/d2arreglos/build/
/d2arreglos/dist/
/apuntadores/build/
/apuntadores/dist/
/darreglos3/build/
/darreglos3/dist/
/c++1/build/
/c++1/dist/